@font-face {
  font-family: 'KiddiRegular';
  src: local('KiddiRegular'), url(fonts/Kiddi2020_Regular3_2.ttf) format('truetype');
  /* src: local('KiddiRegular'), url(fonts/Kiddi2020_regularWeb01.ttf) format('truetype'); */
}

@font-face {
  font-family: 'KiddiBold';
  src: local('KiddiBold'), url(fonts/Kiddi2020_Bold_3_1.ttf) format('truetype');
}

@font-face {
  font-family: 'KiddiOutline';
  src: local('KiddiOutline'), url(fonts/Kiddi2020_Outline_3_2.ttf) format('truetype');
}

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url('./fonts/roboto-v18-latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('./fonts/roboto-v18-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/roboto-v18-latin-regular.woff2') format('woff2'),
    url('./fonts/roboto-v18-latin-regular.woff') format('woff'),
    url('./fonts/roboto-v18-latin-regular.ttf') format('truetype'),
    url('./fonts/roboto-v18-latin-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url('./fonts/roboto-v18-latin-700.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'),
    url('./fonts/roboto-v18-latin-700.woff2') format('woff2'),
    url('./fonts/roboto-v18-latin-700.woff') format('woff'),
    url('./fonts/roboto-v18-latin-700.ttf') format('truetype'),
    url('./fonts/roboto-v18-latin-700.svg#Roboto') format('svg');
} */
